*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
#frontpage-wrapper{
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* position: relative; */
    
}
#frontpage-wrapper::before{
    position: absolute;
    top: 0;
    /* left: 1%; */
    content: '';
    height: 100%;
    width: 100%;
    background-color:  rgba(0, 0, 0, 0.6);
}
.Top-Header-front{
    /* z-index: 1; */
    position: relative;
    height: 10%;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
}
.Top-Header-front a{
    text-decoration: none;
    font-size: 20px;
    /* color: black; */
    color: #FFFDE7;
}



.Navbar-section{
    /* border: 1px solid; */
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.nav-icons{
    /* border: 1px solid; */
    width: 100%;
}
.nav-icons ul {
    list-style: none;
    display: flex;
    /* background: #00000094; */
    background: #80808033;
    align-items: center;
    justify-content: center;
    /* border: 1px solid; */
    margin: 0 10%;
    padding: 1% 0;
    border-radius: 5px;
}
.nav-icons ul li{
    margin: 0 5%;
}
.nav-icons ul li a {
    text-decoration: none;
    font-weight: bolder;
    font-size: 22px;
    color: #FFFDE7;
}


    /*  CSS FOR SLIDERS */
    #slider-frame{
        height: 100vh;
        width: 100%;
        border: 1px solid;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .box{
        height: 100px;
        width: 100px;
        background-color: red;
    }
    h3{
        color: red;
        font-size: 20px;
    }
    #slider-frame .slider-box{
        height: 200px;
        width: 30%;
        border: 1px solid;
        /* display: flex; */
        position: relative;
        align-items: center;
        justify-content: center;
    }
    #slider-frame .slider-box .sliders{
        height: 100%;
        width: 100%;
        position: absolute;
        text-align: center;
        transition: 1s;
    }
